/* Global */
.vheight-100 {
  min-height: 100vh;
}

/* Styles related to NavBar */
.navbar-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.below-nav {
  padding-top: 5rem;
}


/* Icons */
.icon-size {
  font-size: 1.5rem;
}

/*
 * NOTE: HTML collapses multiple withespaces into one, so "Hello      world!" becomes "Hello world!".
 * If you want to keep them use white-space: pre-wrap;
 */
 .keep-white-space {
  white-space: pre-wrap;
}

/* Specifies the graphical appearence of the toast (used for the login). */
.toast {
  position: absolute;
  bottom: 15px;
  left: 15px;
}


/* Stile del contenitore principale dei posti aerei */
.seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Stile di un singolo posto aereo */
.seat {
  width: 50px;
  height: 40px;
  margin: 5px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/* Stile di un posto aereo occupato */
.seat.occupied {
  background-color: #ff0000;
  color: #fff;
}

/* Stile di un posto aereo selezionato */
.seat.selected {
  background-color: #00ff00;
  color: #fff;
}

/* Stile di un posto aereo non selezionabile */
.seat.disabled {
  background-color: #f1f1f1;
  color: #ccc;
  cursor: not-allowed;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #ff0404;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.table-value {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-spacing {
  margin-right: 10px; 
}

.vertical-line {
  width: 1px;
  height: 100px; /* Imposta l'altezza desiderata */
  background-color: black; /* Imposta il colore desiderato */
}

.scritte-spacing {
  margin-right: 80px;
}

.spazio-pagina {
  margin-top: 100px;
}

.spazio-colonne {
  margin-right: 800px;
}